<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}

{% block head_block %}
        <title>Visor de Acciones</title>
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 text-white">Agregar Acciones</h1>
            <form  method="POST">   
                {% csrf_token %}
                <label for="security_name">Nombre de la Empresa</label>
                <input type="text" id="security_name" class="form-control" placeholder="ex: Apple Inc.">
                <label for="security_code">Codigo</label>
                <input type="text" id="security_code" class="form-control" placeholder="ex: AAPL">
                <select id="market">
                    <option value="BMV">BMV</option>
                </select><br>
                <label for="csv_file">Archivo CSV</label>
                <input type="text" id="csv_file" class="form-control" placeholder="ex: aapl.csv">
                
            
                
                <button type="button" class="btn btn-success " id="add_security"> Estrategia Recomendada</button>
                
            </form>
        </div>
        
    </div>

    




    <script src="{% static "show_indicators/add_security.js" %}"></script>
{% endblock %}    
