<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Integra Recursos Humanos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% block body_block %}
    {% endblock %}
    

    <!-- AQUI EMPIEAZN TODOS LOS SCRIPTS GLOBALES (QUE NO REQUIERAN CARGAR ANTES DE LA PAGINA) -->

    <!-- AQUI TERMINAN TODOS LOS SCRIPTS GLOBALES -->
</body>
</html>