<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Integra Recursos Humanos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    <header id = "topNav">
        <div class = "container">
            <div class="col">
                <a class = "logo" href = "base.html">
                    <img class = "img" src = "{% static "integraRH/integra.jpeg" %}" alt ="" width="58%" height="88%">
                </a>
            </div>
            <div class = "nav-bar">
                <nav class = "nav-main">
                    <ul id = "topMain" class="nav nav-pills">
                            <li class = "active">
                                <a href = "www.cintegra.com.mx">
                                Home
                                </a>
                            </li>
                            <li class = "">
                                <a href = "user.html">
                                Iniciar sesion
                                </a>    
                            </li>
                            <li class = " ">
                                <a href = "trabajador.html">
                                Llenar datos
                                </a>
                            </li>
                        </ul>
                </nav>
            </div>
        </div>
    </header>

    {% block body_block %}
    {% endblock %}
    

    <!-- AQUI EMPIEAZN TODOS LOS SCRIPTS GLOBALES (QUE NO REQUIERAN CARGAR ANTES DE LA PAGINA) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- AQUI TERMINAN TODOS LOS SCRIPTS GLOBALES -->
</body>
</html>