<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <h1> Integra te invita a formar parte de su equipo: </h1>

        <p>Buen dia {{ name }},</p>
        <p>Te envió correo para tu contratación con ingreso el dia 26 de diciembre alas 9am en las oficinas de Sytecso  ubicadas privada Pino Suárez 300 Piso 12, Centro, 64000 Monterrey, N.L. a las 9:30am, el puesto que ocuparas es como AUXILIAR DE TECNICO INSTALADOR con un sueldo de $7000 libres +PL</p>
        <p><strong>Importante:</strong></p>
        <p>Te pedimos entres a la siguiente pagina y nos ayudes a seguir los pasos ahi mostrados para terminar tu proceso de contratación.</p>
        <p> 13.59.171.198/integraRH/formularioTrabajador</p>
        <p>En espera de tu confirmación</p>
        <p>Saludos Cordiales!</p>      
         
</body>
</html>
