{% extends 'integraRH/base.html' %}
{% block body_block %}

{% if trabajadorCreado %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Tus datos han sido enviados!</h4>
        <p>Gracias por llenar tus datos, pronto nos pondremos en contacto contigo.</p>
        
    </div>
{% endif %}
<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class = "sparkline12-list">
        <div class = "sparkline12-hd">
            <div class = "main-sparkline12-hd">
                <h1>Llena aqui tus datos</h1>
            </div>    
        </div>
        
            <div class = "basic-login-form-ad">
                <div class="row">
                    
                    <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class = "all-form-element-inner">
                            <form action = "{% url 'integraRH:formularioTrabajador' %}" method = "POST">
                                {% csrf_token %}
                                <div class = "form-group-inner">
                                    <div class = "row">
                                        
                                        <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class = "login2 pull-right pull-right-pro">Nombre(s):</label>
                                        </div>
                                        <div class = "col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <input class="form-control" type = text id = "nombre" name = "nombre">
                                        </div>
                                        
                                    </div>
                                    <div class = "row">
                                        
                                        <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class = "login2 pull-right pull-right-pro">Apellido Paterno:</label>
                                        </div>
                                        <div class = "col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <input class="form-control" type = text id = "firstln" name = "firstln">
                                        </div>
                                        
                                    </div>
                                    <div class = "row">
                                        
                                        <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class = "login2 pull-right pull-right-pro">Apellido Materno:</label>
                                        </div>
                                        <div class = "col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <input class="form-control" type = text id = "secondln" name = "secondln">
                                        </div>
                                        
                                    </div>
                                    <div class = "row">  
                                        <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class = "login2 pull-right pull-right-pro">Estado Civil: </label>
                                        </div>
                                        <div class = "col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <div class = "form-select-list">
                                                    <select class = "form-control custom-select-value" id = "civil" name = "civil">
                                                        <option>Soltero(a)</option>
                                                        <option>Casado(a)</option>
                                                        <option>Divorciado(a)</option>
                                                        <option>Viudo(a)</option>
                                                        <option>Union Libre</option>
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class = "row">
                                            <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                    <label class = "login2 pull-right pull-right-pro">Nombre del conyugue: </label>
                                            </div>
                                            <div class = "col-lg-9 col-md-9 col-sm-9s col-xs-12">
                                                <input class="form-control" type = text id = "couple" name = "couple">
                                            </div>
                                    </div>
                                    <div class = "row">
                                        
                                        <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                <label class = "login2-pull-right pull-right-pro">Edad: </label>
                                        </div>
                                        
                                                <div class = "col-lg-9 col-md-9 col-sm-9s col-xs-12">   
                                                <input type = "number" id = "age" name = "age" min = "18">
                                            </div>
                                    </div>
                                </div>
                                <div class = "form-group-inner">
                                    <div class = "row">
                                        
                                        <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class = "login2 pull-right pull-right-pro">RFC con Homoclave: </label>
                                        </div>
                                        <div class = "col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <input class="form-control" type = text id = "rfc" name = "rfc">
                                        </div>
                                        
                                    </div>
                                    <div class = "row">
                                        
                                        <div class = "col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <label class = "login2 pull-right pull-right-pro">CURP: </label>
                                        </div>
                                        <div class = "col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <input class="form-control" type = text id = "curp" name ="curp">
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-primary" value="Enviar">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock body_block %}