<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Visor de Acciones</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <div class="jumbotron">
        <h1 class="display-4">Visor de Acciones</h1>
        <form action="indicators" method="POST">
            {% csrf_token %}
            <div class="form-group">
        
            <select class="form-control" id="security">
                <option value="aeromex">AEROMEX</option>
                <option value="ahmsa">AHMSA</option>
                <option value="americaMovil">AmericaMovil</option>
                <option value="arcaContinental">ArcaContinental-AC</option>
                <option value="bachoco">BACHOCO</option>
                <option value="bancoSantander">BancoSANTANDER</option>
                <option value="bimbo">BIMBO</option>
                <option value="bmv">BMV</option>
                <option value="cablevision">Cablevision</option>
                <option value="casaSaba">Casa SABA</option>
                <option value="cemex">CEMEX</option>
                <option value="chedrahui">CHEDRAUI</option>
                <option value="cocacola">Coca-Cola</option>
                <option value="consorcioAra">Consorcio ARA</option>
                <option value="elektra">ELEKTRA</option>
                <option value="finamex">FINAMEX</option>
                <option value="firstMajesticSolveCorpFmsc">FirstMajesticSolverCorp-FMSC</option>
                <option value="gennomaLab">GENNOMA-LAB</option>
                <option value="gnp">GrupoNacionalProvincial-GNP</option>
                <option value="grupoSports">GrupoSports</option>
                <option value="liverpool">LIVERPOOL</option>
                <option value="radioCentro">RadioCENTRO</option>
                <option value="rotoplas">ROTOPLAS</option>
                <option value="soriana">SORIANA</option>
                <option value="televisa">TELEVISA</option>
                <option value="walmart">WAL-MART</option>
    
            </select>
        
    
                EMA <input type="checkbox" value="EMA", name="indi" class="EMA"><br>
                SMA <input type="checkbox" value="SMA", name="indi" class="SMA"><br>
                SAR <input type="checkbox" value="SAR", name="indi" class="SAR"><br>
                KAMA <input type="checkbox" value="KAMA", name="indi" class="KAMA"><br>
                TEMA <input type="checkbox" value="TEMA", name="indi" class="TEMA"><br>
                TRIMA <input type="checkbox" value="TRIMA", name="indi" class="TRIMA"><br>
                WMA <input type="checkbox" value="WMA", name="indi" class="WMA"><br>
                <div id="days" style="display: none;">
                    Ingrese el numero de dias: <input type="number" name="dias" min="10" value="20"/> <br>
                    <button type="reset">Reiniciar</button> <br> 
                </div>
                <div id="sar" style="display: none;">    
                    Ingrese la aceleración:  <input type="number" name="acceleration" min="0.02" value="0.02" step="0.01"/> <br>
                    Ingrese el MAX: <input type="number" name="max" min="0.2" value="0.2" step="0.1"/> <br>
                    <button type="reset">Reiniciar</button> <br>    
                </div>



            <button class="btn btn-primary btn-lg" id="enviar">Enviar</button>
            </div>
        </form>
    </div>

    <div id="myDiv" style="width:600; height:800"></div> 



    <script src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static "show_indicators/get-data.js" %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>